/* ===== Google Fonts ===== */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

/* ==== VARIABLES CSS ==== */

:root {
  --first-color: #272a3a;
  --first-color-light: #8a8eaa;
  --first-color-lighten: #f8f8fc;
  --body-font: "Ubuntu", sanas-serif;
  --normal-font-size: 1rem;
  --info-font-size: 4rem;
  --smaller-font-size: 0.813rem;
}
*, ::before ::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    background-color: red;

}